:root{
  --blk:#000;
  --blu:#000080;
  --teal:#3399cc;
  --fdf5e6:#fdf5e6;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--fdf5e6);
}
.App{
  width: 100vw;
  height: 100vh;
}
.nav{
  width: 100vw;
  height: 13vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.brand{
  margin-left: 40px;
}
.links{
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  justify-content: center;
}
.links li{
  display: grid;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.links li a{
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}